RegionListFinder/Service References/RegionServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RegionFinder" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RegionFinder" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStateClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StateClass" nillable="true" type="tns:StateClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStateClass" nillable="true" type="tns:ArrayOfStateClass" />
  <xs:complexType name="StateClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StateDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCodeDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateClass" nillable="true" type="tns:StateClass" />
</xs:schema>