RegionListFinder/Service References/RegionServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4347/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RegionFinder" />
  <xs:element name="GetRegionStates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stateDesc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RegionFinder" minOccurs="0" name="GetRegionStatesResult" nillable="true" type="q1:ArrayOfStateClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>